<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<title>Hydrogene Distances Calculator</title>
</head>
<body>
	<h1 style="background-color:SlateBlue;">Hydrogene Distances Calculator for orca outputs</h1>
	<form action="/uploaded" method="post" enctype="multipart/form-data">
		<label for="filename">Upload your orca .out file:</label>
  		<input type="file" name="file"><br>
  		<label for="n_atom_1"> Enter number of atoms in the first molecule: </label>
  		<input type="number" name="n_atom_1"><br>
  		<label for="cycle_n">Enter number of interested cycle:</label>
  		<input type="number" name="cycle_n"><br>
  		<label for="res_dist">Enter maximal printed distance(i.e. 3.2):</label>
  		<input type="number" step= "any" name="res_dist">
  		<input type="submit" value="upload">
	</form>
</body>
</body>
</html>