<html>  
<head>
<title>File uploaded</title>  
</head>  
<body style="background: url(../static/v2.jpg); font-family: verdana; color: white;">    
	<p >File uploaded successfully</p>
	<p >Filename: {{fname}}</p>
	<p >Number of atoms: {{num_atoms}}</p>
	<p >Number of optimization cycles: {{opt_lines}}</p>
	<p >H distances in the initial geometry:</p>
<ul>
	{% for el in dist_init_list %}
		<li> {{el}} </li>
	{% endfor %}
</ul>
<p>H distances in the chosen cycle geometry:</p>
<ul>
	{% for elem in dist_cycle_list %}
	<li>{{elem}}</li>
	{% endfor %}
</ul>
</body>  
</html>  